Título del proyecto:
Nagasaki Analytics — Consola de analítica IoT (ALS)

URL de aplicacion web
http://127.0.0.1:3080/

URL del proyecto (repositorio Git):
https://github.com/juliitodev/nagasaki-stats-ui

Apellidos y nombre:
APELLIDO1 APELLIDO2 NOMBRE

DNI:
12345678X
